
{% extends 'base.html' %}
{% load staticfiles %}
{% load customtags %}

{% block meta-title %}Descubre los rincones más bellos de España y Europa{% endblock %}
{% block meta-description %}Historia de mis viajes por {%for travel in travels%}{{travel.title}}, {%endfor%}{% endblock %}
{% block meta-image %}http://www.choosetravel.es/static/img/travel/2016_10_22_Nueva%20York/banner.jpg{% endblock %}
{% block meta-url %}http://choosetravel.es/travels/{% endblock %}

{% block content %}

<p class="display-4">Mis viajes</p> <hr>
<ul class="list-group mt-2">
  {% for travel in travels %}
  <li class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between ">
        <span class="h5 align-middle mb-1"><a href="/travel/{{travel.id}}">{{travel.title}}</a>, {{travel.country.name}} </span>
        <span class="col-3 text-right">
          <span style="width:60px" class="p-1 ml-2 badge badge-default badge-{{travel.price|price_color}}"><i class="fa fa-usd fa-lg"></i> {{travel.price}}</span>
          <span style="width:60px" class="p-1 ml-2 badge badge-default badge-{{travel.score|score_color}}"><i class="fa fa-star fa-lg"></i> {{travel.score}}/10</span>
        </span>
      </div>
  </li>
  {% endfor %}
</ul>

{% endblock%}
