{% load staticfiles %}

<!DOCTYPE html>
<html lang="es">

<head>
  <title>ChooseTravel: {% block meta-title %}{% endblock %} </title>
  <meta name="description" content="{% block meta-description %}{% endblock %} ">

  <meta name="author" content="David Amrani Hernandez" />
  <meta name="keywords" content="travel, viajes, deporte, vuelo, precio, pais, ciudad" />
  <meta property="og:image" content="{% block meta-image %}{% endblock %}">
  <meta property="og:url" content="{% block meta-url %}{% endblock %}">


  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="robots" content="follow" />

  <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon" />

  <!-- Bootstrap JS <--></-->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/tether.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-select.js' %}"></script>
  <script src="{% static 'js/bootstrap-table.js' %}"></script>
  <script src="{% static 'js/bootstrap-table-export.js' %}"></script>
  <script src="{% static 'js/tableExport.js' %}"></script>

  <!-- Local CSS -->
  <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <!-- <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}"> -->
  <!-- <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}"> -->
  <link rel="stylesheet" href="{% static 'css/bootstrap-table.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-select.css' %}" />
  <link rel="stylesheet" href="{% static 'css/local-styles.css' %}">

</head>

<body>

  <div class="bg-inverse">
    <div class="container">
      <nav class="navbar navbar-toggleable-md sticky-top navbar-inverse mb-4">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'website:home' %}"><i class="fa fa-map-marker fa-lg text-warning"></i> Choose<span class="text-warning">Travel</span> </a>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item  {% if '/' == request.path %}active{% endif %}">
              <a class="nav-link" href="{% url 'website:home' %}"> Home</a>
            </li>
            <li class="nav-item  {% if '/travels/' == request.path %}active{% endif %}">
              <a class="nav-link" href="{% url 'website:travels' %}"> Viajes</a>
            </li>
            <li class="nav-item  {% if '/contact/' == request.path %}active{% endif %}">
              <a class="nav-link" href="{% url 'website:contact' %}"> Contacto</a>
            </li>
          </ul>
        </div>

        <div class="col-2 hidden-md-down">
          <a class="navbar-brand float-right" target="_blank" href="https://github.com/davidmoremad/"><i class="fa fa-github"></i></a>
          <a class="navbar-brand float-right" target="_blank" href="https://www.linkedin.com/in/davidah/"><i class="fa fa-linkedin"></i></a>
          <a class="navbar-brand float-right" target="_blank" href="https://www.instagram.com/davidmoremad"><i class="fa fa-instagram"></i></a>
          <a class="navbar-brand float-right" target="_blank" href="https://www.twitter.com/davidmoremad/"><i class="fa fa-twitter"></i></a>
        </div>

      </nav>
    </div>
  </div>

  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

  <div class="hidden-sm-up" style="height:450px"><br></div>
  <footer class="footer" id="footer">
    <div class="container">
        <!-- DESKTOP -->
        <div class="row hidden-md-down">
          <div class="col-md-6">
            <h5 class="text-white mt-4 mb-4"> <i class="fa fa-instagram text-warning"></i> Last on <a href="https://www.instagram.com/davidmoremad" target="_blank" class="text-warning">Instagram</a>!</h5>
            <iframe class="snapwidget-widget hidden-md-down" src="https://snapwidget.com/embed/485558" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:500px; height:125px"></iframe>
          </div>
          <div class="col-md-6">
            <h5 class="text-white mt-4 mb-4"> <i class="fa fa-facebook text-primary"></i> Last on <a href="https://www.facebook.com/davidmoremad" target="_blank" class="text-primary">Facebook</a>!</h5>
            <iframe class="snapwidget-widget hidden-md-down" src="https://snapwidget.com/embed/485561" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:500px; height:125px"></iframe>
          </div>
        </div>

        <!-- MOBILE -->
        <div class="hidden-sm-up">
            <h4 class="d-flex justify-content-between text-white mt-4 mb-4"> <i class="fa fa-instagram text-warning bg-inverse rounded p-2"></i> <span>Last on <a href="instagram://user?username=davidmoremad" target="_blank" class="text-warning">Instagram</a>!</span></h4>
            <iframe class="snapwidget-widget" src="https://snapwidget.com/embed/485558" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:350px; height:125px"></iframe>
            <h4 class="d-flex justify-content-between text-white mt-4 mb-4"> <i class="fa fa-facebook text-primary bg-inverse rounded p-2"></i> <span>Last on <a href="fb://profile/100021733520692" target="_blank" class="text-primary">Facebook</a>!</span></h4>
            <iframe class="snapwidget-widget hidden-md-up" src="https://snapwidget.com/embed/485561" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:350px; height:125px"></iframe>
        </div>

    </div>
  </footer>

</body>
</html>
